<mat-card>
  <h1>Update Quiz</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form *ngIf="quiz" (submit)="updateData()">
          <!-- title -->
          <mat-form-field class="width100" appearance="outline">
            <mat-label>Quiz Title</mat-label>
            <input
              [(ngModel)]="quiz.title"
              type="text"
              name="title"
              placeholder="Enter Quiz Title"
              matInput
              required
            />
          </mat-form-field>

          <!-- description -->
          <mat-form-field class="width100" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea
              [(ngModel)]="quiz.description"
              name="description"
              placeholder="Enter Description"
              matInput
              row="5"
            ></textarea>
          </mat-form-field>

          <div class="row">
            <!-- maximum marks -->
            <div class="col-md-6">
              <mat-form-field class="width100" appearance="outline">
                <mat-label>Maximum Marks</mat-label>
                <input
                  [(ngModel)]="quiz.maxMarks"
                  type="text"
                  name="maxMarks"
                  placeholder="Enter Maximum Marks"
                  matInput
                />
              </mat-form-field>
            </div>

            <!-- number of questions displayed -->
            <div class="col-md-6">
              <mat-form-field class="width100" appearance="outline">
                <mat-label>Number of Questions</mat-label>
                <input
                  [(ngModel)]="quiz.noOfQUestions"
                  type="text"
                  name="noOfQUestions"
                  placeholder="Enter Number of Questions in the Quiz"
                  matInput
                />
              </mat-form-field>
            </div>
          </div>

          <!-- Is quiz active -->
          <mat-slide-toggle
            [(ngModel)]="quiz.active"
            name="active"
            class="mt20"
            color="primary"
            >Publish Status</mat-slide-toggle
          >
          <br />

          <!-- Select category of the quiz -->
          <mat-form-field appearance="outline" class="mt20 width100">
            <mat-label>Categories</mat-label>
            <mat-select [(ngModel)]="quiz.category.cId" name="category">
              <mat-option *ngFor="let c of categories" [value]="c.cId">{{
                c.title
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Submit button -->
          <div class="container text-center">
            <button mat-raised-button color="primary" type="submit">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>